*{
    box-sizing: border-box;
    font-family: sans-serif;
    }
/* Unchanging elements across website*/
/* less than 768px wide */
    body {
        background-color:  #cccccc;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    body header {
        background-color: #120323;
        color: #97bf04;
        display: block;
        text-align: center;
        padding: 0 0 1rem 0;
    }

.header-container {
    width: 100%;
}

    nav {
        width: 95%;
        margin: 0 auto;    
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        padding: 0;  
    }


    nav li{
        display: block;
        padding: 1rem 0 0;
      }

    nav li a{
        background-color: #d9043d;
        color: #FAF7EF;
        text-decoration: none; 
        border: 1px solid #97bf04; 
        display: block;
        padding: 1rem;
    }

    nav li a:hover{
        color: #A7B4A4;
        text-decoration: underline overline;  
    }

    #gallery-container {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        margin-bottom: 2rem;
        justify-items: center;
    }

#gallery-container figure {
    background-color: white;
    padding: 2rem;
}

    #gallery-container img {
        border-bottom: 10px solid #97bf04;
        width: 100%;
        max-width: 650px;
        height: auto;
    }

    footer {
        background-color: #d9043d;
        color: white;
        text-align: center;
        padding: 2rem 1rem;
    }



/* Media Queries */

/* less than 1000px wide */


/*1000px wide or greater */